body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display :flex;
    justify-content: space-evenly;
    color: white;
    background: #1F2937;
    padding: 10px 50px;
}

.left, .right{
    margin: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.footer {
    color: white;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 18px;
    padding: 20px;
}

.main{
    background-color:#1f2937;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 50px;
}

.main-header {
    size: 48px;
    color: #f9faf8;
}
h1{
    margin:0;
}

.main-img {
    background-color: #e5e7eb;
    border-color: black;
    height: 150px;
    width: 400px;
}

.main-secondary-text {
    size: 18px;
    color: #e5e7eb;
}
.main-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.button {
    background-color: #3882f6;
    text-align: center;
    max-width: 100px;
    border-radius: 5px;
    padding: 5px;
}

.rdm-section {
    padding: 30px;
}
.rdm-info {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.rdm-title {
    size: 36px;
    color: #1f2937;
    weight: 900;
    text-align: center;
}
h2 {
    margin: 0;
    margin-bottom: 15px;
}

.box{
    width: 200px;
}

img {
    max-width: 800px;
}
