body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display :flex;
}

.left, .right {
    display: flex;
}
.left{
    margin: auto;
}

.right {
    list-style-type: none;
    gap: 20px;
    margin: auto;
}