body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display :flex;
    justify-content: space-evenly;
    color: white;
    background: #1F2937;
    padding: 10px 50px;
}

.left, .right{
    margin: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.footer {
    color: white;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 18px;
    padding: 20px;
}

.main{
    background-color:#1f2937;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 50px;
}

.main-header {
    size: 48px;
    color: #f9faf8;
}
h1{
    margin:0;
}

.main-img {
    background-color: #e5e7eb;
    border-color: black;
    height: 150px;
    width: 400px;
}

.main-secondary-text {
    size: 18px;
    color: #e5e7eb;
}
.main-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.button {
    background-color: #3882f6;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
}

.rdm-section {
    padding-top: 50px;
    padding-bottom: 150px;
}
.rdm-info {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.rdm-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}
h2 {
    margin: 0;
}

.box{
    width: 150px;
}

img {
    max-width: 800px;
}

.quote {
    background-color: #e5e7eb;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text h2 {
    font-size: 32px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

#author {
    font-weight: 800;
    justify-self: end;
}
.wrapper {
    width: 690px;
}

.call-section{
    margin: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.call-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    width: 800px;
}
.call-text {
    padding: 20px;
}
.call-title{
    font-size: 20px;
    font-weight: bold;
}

.call-sub{
    font-weight: 200;
}

.call-button {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
    padding: 2px;
    width: 100px;
}

.button:hover {
    box-shadow: 2px 2px 15px 2px rgba(10, 10, 10, 0.5);
    background-color: #2070f0;
}

.call-button:hover {
    box-shadow: 2px 2px 15px 2px rgba(10, 10, 10, 0.5);
    background-color: #22923a;
    border: none;
}